/* Import Inter Font */
@import url('https://rsms.me/inter/inter.css');
$font-family-base: 'Inter', sans-serif;

/* Body Styles */
body {
  background-color: #F9FAFC !important;
  color: #0A1323 !important;
}

/* Logo */
header {
  margin: 2em auto;  
}
header h1 {
  padding: 0.625rem 0 0.625rem 3.75rem;
  width: 6.375rem;
  background: url(/images/logo.svg) no-repeat left center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  margin: auto;
}

/* Hide screen reader labels */
.invisible,
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
// Input Focus
*:focus {
  // border: none !important;
  // box-shadow: none !important;
  // outline: 0;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';