/* Import Inter Font */
@import url('https://rsms.me/inter/inter.css');
$font-family-base: 'Inter', sans-serif;

body {
  background-color: #F9FAFC !important;
}
.description,
.description .form-control {
  font-size: 1.5rem;
}

/* Logo */
header {
  margin: 2em auto;  
}
header h1 {
  padding: 0.625rem 0 0.625rem 3.75rem;
  width: 6.375rem;
  background: url(/images/logo.svg) no-repeat left center;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: -0.02em;
  margin: auto;
}

/* General Forms */
button {
  border: none;
  background: none;
}
.invisible {
  opacity: 0;
  position: absolute;
}

/* New Todo form */
#newTodo {
  padding: .55rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px #EBEEF5;
  border-radius: 12px;
}
#newTodo .description {
  padding-left: 2rem;
}
input[type=text].form-control {
  border: none !important;
} 
#newTodo .btn {
  width: 48px;
  height: 48px;
  padding: 0;
  border: 0;
  // background: url(/images/plus-circle.svg) no-repeat center center;
  background: none;
}
#newTodo .btn svg .plus-circle {
  fill: #F9FAFB;
}
#newTodo .btn svg .plus {
  stroke: #9D9FA7;
}

/* Color Variations */
#newTodo.today {
  box-shadow: 0px 4px 32px rgba(255, 0, 110, 0.12);
}
#newTodo.today .btn img {
  background: #FF006E;
}

/* Todo Lists */
.lists {
  margin-top: 3.5rem;
}
.lists h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
.lists .heading {
  padding: 1.56rem;
}
.list {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px #EBEEF5;
  border-radius: 12px;
}

/* Todo */
.list ul {
  list-style-type: none;
  padding: 0;
}
.todo {
  padding: .5rem;
}
.completeButton {
  margin-left: 1.25rem;
}
.complete {
  width: 2.25rem;
  height: 2.25rem;
  background-color: white;
  border: 3px solid #E4E8F1;
  border-radius: 50%;
  display: inline-block;
}


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

